/.idea
/.fleet
/heyframe-cli*
dist/
/completions
/local
/.heyframe-cli
/.heyframe-project.yml
/.heyframe-project.yaml
/test-app
/go-heyframe-admin-api-sdk
/*.zip
/Frosh*
/Swag*
/result
/project
dump.sql*

/testdata

# Devenv
.devenv*
devenv.local.nix

/.direnv
